.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 25px 50px;
}

.grid-item {
  background-color: #f0f0f0;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: right;
}

.buttons {
  margin-left: auto;
}


.button {
  margin-left: auto;
  width: 120px;
  height: 50px;
}

.button+.button {
  margin-left: 20px;
}
